@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f4f7f8;
    font-family:  "Poppins", sans-serif;
    display: flex;
    flex-wrap: wrap;
}
.heading{
    width: 100vw;
    height: 5.5rem;
    background-color: #f1c40f;
    color: #282936;
    box-shadow: 0px 10px 16px rgb(248,247,247);
}
.heading h1{
    line-height: 5.8rem;
    margin-left: 2rem;
    font-weight: 400;
}
.add{
    margin-top: 2rem;
    background-color: #f1c40f;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 1350px;
    margin-right: 80px;
    border-radius: 25px;
    cursor: pointer;
    display: inline-block;
}
.add:hover{
    background-color: #daae00;
}
.fa-edit,.fa-trash-alt{
    color: #fff;
    padding: 10px;
    background-color: #2ecc71;
    border-radius: 50%;
}
.fa-trash-alt{
    background-color: #e74c3c;
}
.fa-edit:hover{
    color: #2ecc71;
    background-color: #fff;
    filter: drop-shadow(0px 10px 8px rgb(219,218,218));
}
.fa-trash-alt:hover{
    color: #e74c3c;
    background-color: #fff;
    filter: drop-shadow(0px 10px 8px rgb(219,218,218));

}
.note{
    background-color: #fff;
    margin: 30px 20px;
    height: 200px;
    width: 400px;
    overflow-y: scroll;
    margin-top: 7rem;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,0.1),inset 0 -1px 0 rgba(0,0,0,0.1);
}
.note .tools{
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}
.note .tools button{
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 0.5rem;
}
.note textarea{
    outline: none;
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
    height: 300px;
    width: 100%;
    padding: 20px;
}
.main{
    margin: 20px;
}
.hidden{
    display: none;
}
